#products__searcher{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    margin-top: 83px;
    padding-top: 50px;
    background-color: rgb(255, 140, 140);
    display: flex;
    flex-direction: column;
}
#products__searcher div{
    margin-bottom: 25px;
}
#products__searcher label{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    color: #741e2b;
}
.search-by-name{
    display: flex;
    justify-content: space-around;
}
#search-by-name{
    width: 180px;
    height: 25px;
    border-radius: 10px;
    border: #f65066 1px solid;
    outline: none;
    color: #f87f8f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
#send{
    font-size: 10px;
    color: #f65066;
    width: 50px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #f65066;
    background-color: #ffd0d6;
}
.search-by-type{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-by-type{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: #f65066 1px solid;
    outline: none;
    font-size: 13px;
    text-align: center;
    color: #f65066;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    background-color: #ffe2e6;
}
.search-by-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-by-price{
    appearance: none;
    -webkit-appearance: none;
    width: 150px;
    height: 4px;
    background-color: #bc3849;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
#search-by-price:hover {
    opacity: 1;
}
#search-by-price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: #f65066 1px solid;
    cursor: grab;
    box-shadow:0px 0px 2px 2px rgba(255, 255, 255, 0.26);
}
#search-by-price::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: #f65066 1px solid;
    cursor: grab;
    box-shadow:0px 0px 2px 2px rgba(255, 255, 255, 0.26);
}
.valuePrice__container{
    margin: 0;
    margin-top: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.search-by-occasion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-by-occasion span{
    width: 150px;
    margin-bottom: 10px;
}