#products__searcher{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    margin-top: 83px;
    padding-top: 20px;
    background-color: rgb(255, 140, 140);
    border: #f87f8f 10px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#products__searcher h1{
    margin: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    color: #741e2b;
}
#products__searcher div{
    margin: 10px;
}
#products__searcher label{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    color: #741e2b;
    margin: 0;
}
.search-by-name{
    display: flex;
    justify-content: space-around;
}
#search-by-name{
    width: 180px;
    height: 25px;
    border-radius: 8px;
    border: white 3px solid;
    background-color: #ffd0d6;
    box-sizing: border-box;
    outline: none;
    color: #bc3849;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.search-by-type{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-by-type{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: #ffffff 2px solid;
    box-sizing: border-box;
    outline: none;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    background-color: #ea3d54;
}
#search-by-type option{
    color: #741e2b;
    background-color: #ffe2e6;
}
.search-by-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-by-price{
    appearance: none;
    -webkit-appearance: none;
    width: 150px;
    height: 4px;
    background-color: #bc3849;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
#search-by-price:hover {
    opacity: 1;
}
#search-by-price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: #f65066 1px solid;
    cursor: grab;
    box-shadow:0px 0px 2px 2px rgba(255, 255, 255, 0.26);
}
#search-by-price::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: #f65066 1px solid;
    cursor: grab;
    box-shadow:0px 0px 2px 2px rgba(255, 255, 255, 0.26);
}
.valuePrice__container{
    margin: 0;
    margin-top: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.search-by-occasion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-by-occasion span{
    width: 150px;
    margin: 5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
[name=search-by-occasion]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: #ffffff 2px solid;
    margin: 0;
    background-color: #ffd0d6;
}
[name=search-by-occasion]:checked{
    background-color: #bc3849;

}
#send{
    margin: 0;
    margin-top: 15px;
    font-size: 12px;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
    border: #ffffff 1px solid;
    box-shadow: 0px 0px 2px #f65066;
    background-color: #f65066;
    margin-inline: auto;
}
#searcher__hidder{
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 208, 208, 0.81);
    position: fixed;
    top: 82px;
    left: 0;
    margin: 0;
    border: solid 2px white;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 91;
}
@media(600px < width <= 1100px){
    #searcher__hidder{
        display: none;
    }
    #products__searcher{
        display: block !important;
        width: 25%;
        padding-top: 15px;
    }
    #products__searcher div{
        margin: 8px;
    }
    .valuePrice__container{
        margin-top: 2px;
    }
    .search-by-occasion span{
        margin-block: 2px;
    }
    #send{
        margin-inline: 25%;
    }
}
@media(width <= 600px){
    #searcher__hidder{
        display: block;
    }
    #products__searcher{
        display: none;
        z-index: 90;
        height: 60%;
        width: 50%;
        align-self: self-end;
    }
    .expand{
        animation: expand 1.2s ease-in-out 0s 1 reverse;
    }
    .contract{
        animation: contract 1.2s ease-in-out 0s 1 reverse;
    }

    @keyframes expand {
        0%{top: 0;}
        100%{top: 100%;}
    }
    @keyframes contract {
        0%{top: 100%;}
        100%{top: 0;}
    }   
    #products__searcher h1{
        text-align: center;
    }
}
