body{
    margin: 0px !important;
    background-image: url(../Img/background.avif);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -55px !important;
    background-attachment: fixed;
}
main{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
}
li{
    list-style: none !important;
}
.hidden{
    display: none !important;
}
.active{
    visibility: hidden !important;
}
@media(width<950px){
    body{
        background-image: url(../Img/background2.jpg);
    }
}