body{
    margin: 0px !important;
    background-image: url(../Img/background.avif);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -55px !important;
    background-attachment: fixed;
}
main{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    overflow-x: hidden;
}
li{
    list-style: none !important;
}
.hidden{
    display: none !important;
    margin: 0 !important;
}
.active{
    visibility: hidden !important;
}
@media(width<=900px){
    body{
        background-position-y: 0px !important;
        padding: 0;
        margin: 0;
    }
}
@media(width<=500px){
    body{
        background-image: url(../Img/eb261053f3ed5834da6a7e01233b3f6f.jpg);
        background-size: 100vh;
        background-position-y: 0px !important;
        padding: 0;
        margin: 0;
    }
}