header{
    width: 99vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.81);
    position: fixed;
    z-index: 100;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.Logo{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.Nombre_Empresa{
    font-size: 25px;
    color: #f87f8f;
    font-weight:900;
    font-family:cursive;
    text-shadow: 2px 2px 2px #ff0055;
    
}