#nav{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}
#nav__hidder{
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.81);
    position: absolute;
    top: 80px;
    margin: 0;
    border-radius: 15px;
    border: solid 2px white;
    box-sizing: border-box;
    cursor: pointer;
}
#nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.nav__link{
    text-decoration: none;
    list-style: none;
    color: #f87f8f;
    font-size: 18.5px;
    font-weight: 400;
    margin-inline: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}
.nav__link:hover{
    color: #ff0055;
}
#nav__user{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}
.logged{
    background-color: #f6e9ea;
    border-radius: 50px;
    border: #f87f8f 1px solid;
}
#log-in .nav__link{
    background-color: #f6e9ea;
    padding: 3px 10px 5px 10px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #ff00556c;
    margin-left: -10px;
}
#log-in .nav__link:hover{
    border-color: #ff0055;
    color: #ff0055;
}
#user-icon{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    border: #f87f8f 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#user-icon img{
    height: 100%;
}
#user-name{
    height: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-name h1{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
    color: #f87f8f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#log-out{
    width: 50px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#log-out p{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #f87f8f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#log-out p:hover{
    color: #ff0055;
}
#log-out__confirm{
    width: 30%;
    height: 40vh;
    background-color: #ffb6b6;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -25vh);
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    border: #ffffff 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#log-out__confirm h1{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 2px #f87f8f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 30px;
}
#log-out__confirm div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#log-out__confirm div button{
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-inline: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: #f87f8f 1px solid;
    color: #f87f8f;
    background-color: rgb(255, 244, 244);
}
#log-out__confirm div button:hover{
    border: #ff0055 1px solid;
    color: #ff0055;
}
@media(500px < width <= 1100px){
    #nav__list{
        display: flex !important;
    }
    .nav__item{
        margin-inline: -6px;
    }
    #nav__user{
        margin-right: -12px;
    }

    .logged{
        height: 50px;
        margin-right: 10px !important;
    }
    #user-icon{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
    }
    #user-name{
        height: 100%;
        max-width: 50px;
    }
    #user-name h1{
        margin:0;
        padding:0;
        text-align: start;
        font-size: 9px;
        font-weight: 300;
        margin-left: -10px;
        margin-right: 20px;
    }
    #log-out{
        width: 30px;
    }
    #log-out p{
        margin-left: 5px;
        font-size: 10px;
        font-weight: 300;
        color: #f87f8f;
    }
    #log-out__confirm h1{
        font-size: 18px;
        font-weight: 400;
    }
}
@media(width <= 500px){
    #nav__hidder{
        display: block;
    }
    #nav__list{
        display: none;
        height: 50px;
        width: 350px;
        top: 105px;
        left: 225px;
        padding: 0;
        margin: 0;     
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
    }
    .nav__item{
        position: relative;
        padding: 0;
        margin: 0;
        width: 20%;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.81);
        border: solid 1px white;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav__link{
        font-size: 14px;
    }
    .animation{
        animation-name: appear;
        animation-timing-function: ease-in-out;
        animation-direction: reverse;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    .reverseAnimation{
        animation-name: disappear;
        animation-timing-function: ease-in-out;
        animation-direction:reverse;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }

    @keyframes appear {
        0%{right: 0;}
        100%{right: 100%;}
    }
    @keyframes disappear {
        0%{right: 100%;}
        100%{right: 0;}
    }   

    .logged{
        height: 50px;
    }
    #user-icon{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
    }
    #user-name{
        height: 100%;
        max-width: 50px;
    }
    #user-name h1{
        margin:0;
        padding:0;
        text-align: start;
        font-size: 9px;
        font-weight: 300;
        margin-left: -10px;
        margin-right: 20px;
    }
    #log-out{
        width: 30px;
    }
    #log-out p{
        margin-left: 5px;
        font-size: 10px;
        font-weight: 300;
        color: #f87f8f;
    }

    #log-out__confirm{
        width: 60%;
        height: 30vh;
    }
    #log-out__confirm h1{
        font-size: 18px;
        font-weight: 400;
    }
}
