header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navegador li{
    list-style: none;
}
.navegador li a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 35, 160);
    font-size: 20px;
    font-weight: bold;
    margin-inline: 20px;
}
.Logo{
    display: flex;
    align-items: center;
}
.Logo .Nombre{
    height: 30px;
    margin-inline: 5px;

}