#services{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    display: grid;
    grid-template:  100% / 10% repeat(6, 15%);
    row-gap: 10px;
    background-image: url(/Img/fondoServicios.jpeg);
    gap: 0px;
    border: #ffffff 8px solid;
    box-sizing: border-box;
    border-radius: 30px 30px 0px 0px;
}
.services__title__container{
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-sizing: border-box;
    border-top-left-radius: 20px;
}
.services__title{
    font-size: 20px;
    text-align: center;
    color: #f87f8f;
    font-weight:600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.services__card{
    width: 97%;
    height: 95%;
    perspective: 1000px;
    margin: auto;
}
.card{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#services .services__card:nth-child(2) .card .card-front{
    background-color: #f89b7f;
}
#services .services__card:nth-child(3) .card .card-front{
    background-color: #d87ff8;
}
#services .services__card:nth-child(4) .card .card-front{
    background-color: #8f7ff8;
}
#services .services__card:nth-child(5) .card .card-front{
    background-color: #7fccf8;
}
#services .services__card:nth-child(6) .card .card-front{
    background-color: #7ff887;
}
#services .services__card:nth-child(7) .card .card-front{
    background-color: #eaf87f;
}
/*---------------*/
#services .services__card:nth-child(2) .card .card-back{
    background-color: #f89b7f;
}
#services .services__card:nth-child(3) .card .card-back{
    background-color: #d87ff8;
}
#services .services__card:nth-child(4) .card .card-back{
    background-color: #8f7ff8;
}
#services .services__card:nth-child(5) .card .card-back{
    background-color: #7fccf8;
}
#services .services__card:nth-child(6) .card .card-back{
    background-color: #7ff887;
}
#services .services__card:nth-child(7) .card .card-back{
    background-color: #eaf87f;
}
.card-front{
    border: white 2px solid;
    box-sizing: border-box;
}
.card-back{
    transform: rotateY(180deg);
    flex-direction: column;
    border: white 8px solid;
    box-sizing: border-box;
}
.card__text{
    font-size: 13px;
    padding-inline: 15px;
    color: #000000;
    font-weight:400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.card__title{
    font-weight:500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
@media(600px < width <= 1100px){
    #services{
        height: 250px;
    }
    .services__title{
        font-size: 16px;
    }
    .card__text{
        font-size: 11px;
        font-weight:300;
        padding: 0;
        margin: 0;
        padding-inline: 5px;
    }
    .card__title{
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
}
@media(width <= 600px){
    #services{
        height: 1000px;
        display: grid;
        grid-template: repeat(6, 1fr) / 30% 70%;
        row-gap: 10px;
        gap: 0px;
    }
    .services__title__container{
        grid-area: 1 / 1 / 7 / 2;
    }
    .card__text{
        font-size: 12px;
        font-weight:300;
    }
    .card__title{
        font-size: 15px;
        margin: 0;
    }
}
