#servicios{
    background-color: #ffffffd1;
    width: 95%;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #000;
    display: grid;
    grid-template: 40px 300px 300px/ repeat(3, 1fr);
    row-gap: 10px;
    padding-bottom: 10px;
}
.servicios__title{
    grid-area: 1 / 1 / 1 / 4 !important;
    font-size: 25px;
    height: 40px;
    margin-top: 0px;
    text-align: center;
    color: #8b7ff8;
    background-color: #8b7ff83f;
    font-weight:500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: #8b7ff8 1px solid;
}
.servicios__container{
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-inline: 10px;
}	
.servicios__container:hover{
    background-color: #8b7ff83f;
}
[class^=servicios__item]{
    padding: 10px;
}
.servicios__item__title{
    font-size: 20px;
    color: #000000;
    font-weight:500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding-inline: 25px;
}
.servicios__item__text{
    font-size: 15px;
    color: #000000;
    font-weight:400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding-inline: 50px;
}